* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}
.container {
  background: #00bbfff8;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  padding: 50px;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 400px;
}

.input {
  display: flex;
}

h1 {
  text-align: center;
}

input {
  height: 50px;
  width: 55px;
  border-radius: 8px;
  border: none;
}
input[type="number"] {
  text-align: center;
}

p {
  background-color: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  margin: 0 30px 23px;
  border-radius: 8px;
  align-items: center;
  font-size: 20px;
  font-weight: 80;
}

button {
  width: 225px;
  height: 35px;
  border-radius: 8px;
  border: none;
  background: #ff9500;
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
}

.popup {
  position: fixed;
  width: 300px;
  height: 200px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: none; /* Awalnya disembunyikan */
  text-align: center;
}

.popup button {
  margin-top: 15px;
  background-color: #ff9500;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.popup.active {
  display: flex; /* Menampilkan popup saat kelas 'active' ditambahkan */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
